.c-action-button {  
  background: $first-color;
  border: none;
  border-radius: 100%;  
  color: $body-bg-color;
  cursor: pointer;
  height: 4em;
  outline: none;
  position: absolute;
  stroke: lighten($first-color, 20%);   
  transition: transform .4s .3s, right .4s, top .4s, background .2s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  width: 4em;  
  z-index: 100;

  &:hover {
    background: darken($first-color, 10%);
  }

  svg {
    height: 2.6em;
    margin: -.2em 0 0 0;
    width: 2.6em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
  }
}

.c-action-button--is-active {
  display: block;  
  visibility: visible;
  animation-name: floating-button-anim;
  animation-delay: .5s;
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  transform: scale(1);

  &:hover {
    animation-name: none;
  }
}

.c-action-button--is-fixed {
  animation-name: none;
  //background: $white-color;
  //color: $first-color;
  display: block;  
  visibility: visible;
  transform: scale(.6);

}


@keyframes floating-button-anim {
  0%   { 
    transform: scale(1,1);      
    box-shadow: 0 0 0 0 $body-bg-color, 0 0 0 1px $first-color;
  }
  50%  {  
    transform: scale(1.1,1.1); 
  //  box-shadow: 0 0 0 10px $body-bg-color, 0 0 0 10.3px $mid-gray;
  }
  100% { 
    transform: scale(1,1); 
    box-shadow: 0 0 0 20px $body-bg-color, 0 0 0 20.5px $body-bg-color;
  }
}
