.c-content-box {    
  margin: 0 auto;
  max-width: 50rem;
  padding: 2me 0;
}

  .c-content-box__subheadline {
        
  }

    .c-content-box__subheadline--with-button {
      background: red;
      display: inline;
      margin-right: 200px; 

    }
