.c-content-box {    
  padding: 3em 0;
}

  .c-content-box__subheadline {
           
  }

    .c-content-box__subheadline--with-button {
      //background: red; 
      display: block;   
      max-width: 60%;
    } 
