.c-floating-button {  
  background: $first-color;
  border: none;
  border-radius: 100%;  
  color: $body-bg-color;
  cursor: pointer;
  height: 4em;
  visibility: hidden;
  position: absolute;
  right: -100px;
  stroke: darken($first-color, 20%);
  text-align: center;    
  transition: right .5s, background .3s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  width: 4em;  
  z-index: 1000;

  &:hover {
    background: orange;
  }

  svg {
    height: 2.6em;
    margin-top: -.2em;
    width: 2.6em;
  }
}

.c-floating-button--is-active {
  animation-name: floating-button-anim;
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  display: block;  
  visibility: visible;
}


@keyframes floating-button-anim {
  0%   { 
    transform: scale(1,1);      
    box-shadow: 0 0 0 0 $body-bg-color, 0 0 0 1px $first-color;
  }
  50%  {  
    transform: scale(1.1,1.1); 
  //  box-shadow: 0 0 0 10px $body-bg-color, 0 0 0 10.3px $mid-gray;
  }
  100% { 
    transform: scale(1,1); 
    box-shadow: 0 0 0 20px $body-bg-color, 0 0 0 20.5px $body-bg-color;
  }
}
