.c-floating-button {
  animation-name: floating-button-anim;
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  background: $mid-gray;
  border: none;
  border-radius: 100%;  
  color: #fff;
  height: 5em;
  position: absolute;
  right: 0;
  stroke: lighten($mid-gray, 20%);
  text-align: center;
  width: 5em;

  svg {
    height: 3em;
    margin-top: -.2em;
    width: 3em;
  }
}


@keyframes floating-button-anim {
  0%   { 
    transform: scale(1,1);      
    box-shadow: 0 0 0 0 white, 0 0 0 1px $mid-gray;
  }
  50%  {  
    transform: scale(1.2,1.2); 
  //  box-shadow: 0 0 0 10px white, 0 0 0 10.3px $mid-gray;
  }
  100% { 
    transform: scale(1,1); 
    box-shadow: 0 0 0 20px white, 0 0 0 20.5px white;
  }
}
