.c-floating-button {
  animation-name: floating-button-anim;
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  background: $first-color;
  border: none;
  border-radius: 100%;  
  color: $body-bg-color;
  height: 4em;
  position: absolute;
  right: 0;
  stroke: darken($first-color, 20%);
  text-align: center;
  width: 4em;

  svg {
    height: 2.6em;
    margin-top: -.2em;
    width: 2.6em;
  }
}


@keyframes floating-button-anim {
  0%   { 
    transform: scale(1,1);      
    box-shadow: 0 0 0 0 $body-bg-color, 0 0 0 1px $first-color;
  }
  50%  {  
    transform: scale(1.1,1.1); 
  //  box-shadow: 0 0 0 10px $body-bg-color, 0 0 0 10.3px $mid-gray;
  }
  100% { 
    transform: scale(1,1); 
    box-shadow: 0 0 0 20px $body-bg-color, 0 0 0 20.5px $body-bg-color;
  }
}
