.c-focusing-header {
  //background: #ddd;
  //overflow: hidden;
  position: relative;
}

  .c-focusing-headline {
    color: $mid-gray;
    font-size: 3.4em;
    font-weight: 800;    
    letter-spacing: -.03em;
    margin: 0;
    position: relative;
    transition: all .5s; 
    transition-timing-function: ease; 
  }

  .c-focusing-headline--super-big {
    font-size: 4.6em;
  }

  .c-focusing-headline--initial-state {
    transform: scale(1.01,1.01);
    color:  lighten($mid-gray, 30%);
  }  