.c-headline-focus {
  //background: yellow;
  color: $mid-gray;
  font-size: 2.2em;
  font-weight: 800;    
  letter-spacing: -.03em;
  margin: 0;
  position: relative; 
  transition: all .5s; 
  transition-timing-function: ease;
}

  .c-headline-focus--super-big {
    font-size: 3em;
    line-height: .9;
    padding-bottom: .5em;
  }

  .c-headline-focus--initial-state {
    transform: scale(1.01,1.01);
    color:  lighten($mid-gray, 30%);    
  }  

  .c-headline-focus--animation {
    animation-name: focus;
    animation-duration: .5s;  
    animation-timing-function: ease;  
  }  

  @keyframes focus {
    0%   { 
      transform: scale(1,1);      
    }
    10%  { 
      transform: scale(1.015,1.015); 
      color: lighten($mid-gray, 15%);
    }
    100% { 
      transform: scale(1,1); 
      color: $mid-gray;
    }
  }


@media screen and (min-width: $media-width-S) {
  .c-headline-focus--super-big {
    font-size: 3.5em;
  }
}

@media screen and (min-width: $media-width-M) {
  .c-headline-focus--super-big {
    font-size: 3.75em;
  }
}  

@media screen and (min-width: $media-width-L) {
  .c-headline-focus--super-big {
    font-size: 4em;
  }
}  

@media screen and (min-width: $media-width-XL) {
  .c-headline-focus--super-big {
    font-size: 4.25em;
    line-height: .85;
  }
}  