.c-main-footer {
  //background: red;  
  padding: 0 0 .5em;
  text-align: center;
}

  .c-main-footer__note {
    color: lighten($body-text-color, 40%);
    font-size: .85em;  
    line-height: 1.3;
    transition: color 1s;
    
    &:hover {      
      color: $body-text-color;
    }
  }

    .c-main-footer__note a {

    }
    