.c-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.c-main-nav__elem {
  border-radius: .2em; 
  display: inline-block; 

  &:hover {
    background: $nav-link-hover-bg-color;
  }
}

.c-main-nav__link {
  border: none;
  color: $nav-link-color;
  display: inline-block;
  font-size: 1em;
  padding: .6em .5em; 
  text-decoration: none;

  &:hover {      
    border: none;
  }

  svg {
    display: inline-block;
    font-size: 1.3em;
    margin: 0 0 0 0;
    color: $nav-link-icon-color;
  }
}

.c-main-nav__link--is-active {
  color: $nav-link-active-color;
  svg {
    color: $nav-link-active-icon-color;
  }
}

.c-main-nav__elem--close-link {
  background: #fff;
  border: 1px dashed $nav-link-active-color;  
  margin-left: .5em;
  
  svg {
    color: lighten($nav-link-active-icon-color, 20%);
  }

  &:hover {
    background: #fff;

    svg {
      color: $nav-link-active-color;
    }
  } 
}

.c-main-nav__text {
  display: none;       
  vertical-align: middle;
}

.c-main-nav--is-hidden {

  .c-main-nav__elem {
    visibility: hidden;
  }
  .c-main-nav__elem--close-link {
    visibility: visible;
    border-bottom: 1px solid #fff;    
  }
}

.c-main-nav--is-open {
  align-content: stretch;
  border: 1px dashed $nav-link-active-icon-color;
  border-radius: .3em;
  background: $body-bg-color;
  flex-direction: column;
  margin-top: -3px;
  padding: .5rem .7rem;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  z-index: 5;

  .c-main-nav__elem {
    display: block;
    padding: 0 2px;
  }

  .c-main-nav__link {
    display: block;
    padding: .6em .3em;    
  }

  .c-main-nav__text {
    display: inline-block;
    padding: 0 0 0 .7em;    
  }

  .c-main-nav__elem--close-link {
    display: none;
  }
}
    

@media screen and (min-width: $media-width-M) {
  .c-main-nav__text  {
    display: inline-block;
    padding: 0 0 0 .5em;
  }
  .c-main-nav__elem--close-link {
    display: none; 
  }
}

@media screen and (min-width: $media-width-XL) {

}    
