.c-main-header {
  //background: red;
  justify-content: space-between;
  margin: 1.2rem auto 0;
  max-width: $page-max-width;
  width: 100%;
}

.c-main-header__logo {
  border: none;
  float: left;
  transition: all .3s;

  &:hover {
    border: none;
    transform: scale(1.1);
  }
} 

.c-main-header__nav {
  float: right;
  position: relative;
}


@media screen and (min-width: $media-width-S) {

}

@media screen and (min-width: $media-width-XL) {

}