.c-remark-screen {  
  background: $orange-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 100%;  
  min-height: 100vh;
  padding: 2em;
  position: absolute;
  transition: .5s ease-out;
  top: 0;
  width: 100%;
  z-index: 100;
}

.c-remark-screen--is-active {
  left: 0;
}

.c-remark-screen__message {
  color: $white-color;
  font-family: Exo, sans-serif;
  //font-size: 1.1em;
  font-weight: 300;
  //font-size: 2.2em;
  //font-weight: 800; 
  //text-align: center;

  p {
    line-height: 1.4;
    margin: 0 0 .8em;

    &:first-child {
      font-size: 1.2em;
      line-height: 1.2;
      margin: 0 0 1em;

      b {
        font-size: 1.2em;
      }
    }

    &:last-child {
      font-size: .85em;
      margin: 2em 0 1em;
    }
  }

  b {
    //font-size: 1.1em;
    font-weight: 700;
  }
}