.c-remark-screen {  
  background: $orange-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -120%;  
  min-height: 100vh;
  max-width: 80%;
  padding: 2em 2.5em 0 1.6em;
  position: absolute;
  transition: .5s ease-out;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  top: 0;
  z-index: 90;  
}

.c-remark-screen--is-active {
  right: 0px;
}

.c-remark-screen__message {
  color: $white-color;
  font-size: .9em;
  font-family: Exo, sans-serif;
  font-weight: 300;
  max-width: 30em;

  p {
    line-height: 1.4;
    margin: 0 0 .8em;

    &:first-child {
      font-size: 1.2em;
      line-height: 1.2;
      margin: 0 0 1em;

      b {
        font-size: 1.4em;
        line-height: 1.3em;
      }
    }

    &:last-child {
      font-size: .85em;
      margin: 2em 0 1em;
    }
  }

  b {
    //font-size: 1.1em;
    font-weight: 700;
  }

  a {
    color: $white-color;
    border-color: $white-color;
  }
}

.c-remark-screen__links {
  margin: 1em 0 0 0;
}

.c-remark-screen__link {
  background: lighten($orange-color, 8%);
  border: none;
  border-radius: .2em;
  color: $white-color;
  display: inline-block;
  font-weight: bold;
  margin: 0 1em .7em 0;
  padding: .5em .8em .5em .6em;
  text-transform: capitalize;

  &:hover {
    border: none;
  }

  svg {
    margin-right: .3em;
    color: $first-color;
  }
}

.c-remark-screen__bg {
  background: $orange-color;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100px;
  height: 100%;   
  transform: skewX(-2deg);
  z-index: -1;
}

.c-remark-screen-overlay {
  background: none;
  left: 0;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (min-width: $media-width-S) {
  .c-remark-screen {
    padding: 2.5em 2.5em 0 1.8em;
  }
  .c-remark-screen__message {
    font-size: 1em;
  }
}

@media screen and (min-width: $media-width-M) {
  .c-remark-screen {
    padding: 5em 6em 5em 4em;
  }
  .c-remark-screen__message {
    font-size: 1.1em;
    max-width: 22em;
  }
}  