.c-remark-screen {  
  background: $orange-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  right: -120%;  
  min-height: 100vh;
  max-width: 100%;
  padding: 5em 4.4em 5em 2.8em;
  position: absolute;
  transform: skewX(-2deg);
  transition: .5s ease-out;
  top: 0;
  z-index: 90;  
}

.c-remark-screen--is-active {
  right: -40px;
}

.c-remark-screen__message {
  color: $white-color;
  font-family: Exo, sans-serif;
  font-weight: 300;
  max-width: 30em;

  p {
    line-height: 1.4;
    margin: 0 0 .8em;

    &:first-child {
      font-size: 1.2em;
      line-height: 1.2;
      margin: 0 0 1em;

      b {
        font-size: 1.2em;
      }
    }

    &:last-child {
      font-size: .85em;
      margin: 2em 0 1em;
    }
  }

  b {
    //font-size: 1.1em;
    font-weight: 700;
  }
}