.c-toolbox-list {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
  overflow: hidden;
}

.c-toolbox-list__item {

}

.c-toolbox-list__btn {
  background: lighten($light-gray-color, 38%);
  border: none;
  border-radius: .2em;
  color: $dark-gray-color; 
  cursor: pointer;
  font-family: Exo, sans-serif;
  float: left;
  margin: .4em .8em .4em 0;
  padding: .45em .8em .4em;
  position: relative;
  transition: all .3s;

  &:hover {
    background: lighten($light-gray-color, 35%);
    color: darken($dark-gray-color, 10%);
  }
}

.c-toolbox-list__btn--is-active {
  background: $second-color;
  border-radius: 0;
  color: $white-color;
  z-index: 1;

  &:hover {
    background: $second-color;
    color: darken($first-color, 20%);
  }
}