.c-toolbox-popover {
  background: $first-color;
  color: $white-color; 
  //font-family: Exo, sans-serif; 
  margin: 1px 0;
  max-width: 25em;
  padding: .8em 1em .9em;
  position: absolute;
  transition: all .3s;
}

.c-toolbox-popover__text {
  line-height: 1.4em;

  a {
    background: darken($first-color, 10%);
    border: none;
    color: $white-color;
    display: inline-block;
    font-weight: bold;
    margin-top: -.05em;
    padding: .05em .3em;

    &:hover {
      background: darken($first-color, 20%);
    }
  }


}

.c-toolbox-popover__description {
  margin: 0;
}

.c-toolbox-popover__footer {
  margin-top: 1em;
  line-height: 1.3em;
  position: relative;
}

.c-toolbox-popover__avatar {
  position: absolute;
  top: -1px;
  left: 0;
}

.c-toolbox-popover__comment {
  display: inline-block;
  font-family: Exo, sans-serif;
  font-weight: 300;
  margin-left: 32px;
  b {
    font-weight: 800;
  }
}

.c-toolbox-popover__close {
  background: none;
  border: none;
  color: $white-color;
  cursor: pointer;
  float: right;
  padding: .5em;
  margin: -.5em -.7em .2em .2em;

  &:hover {
    color: darken($first-color, 20%);
  }

  svg {
    font-size: 1.5em;
    padding: 0;
  }
}
