.c-toolbox-list {
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
  overflow: hidden;
}

.c-toolbox-list__item {

}

.c-toolbox-list__btn {
  background: lighten($light-gray-color, 38%);
  border: none;
  border-radius: .2em;
  color: $dark-gray-color; 
  cursor: pointer;
  font-family: Exo, sans-serif;
  float: left;
  margin: .4em .8em .4em 0;
  padding: .45em .8em .4em;
  position: relative;
  transition: all .3s;

  &:hover {
    background: lighten($light-gray-color, 35%);
    color: darken($dark-gray-color, 10%);
  }
}

.c-toolbox-list__btn--is-active {
  background: $second-color;
  border-radius: 0;
  color: $white-color;
  z-index: 1;

  &:hover {
    background: $second-color;
    color: darken($first-color, 20%);
  }
}

.c-toolbox-list__btn--is-above, .c-toolbox-list__btn--is-under {
  &::before {
    background: $orange-color;
    border: 1px solid $white-color;
    content: '';
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    transform: rotate(45deg);
    width: 10px;
    z-index: -1;    
  }
}

.c-toolbox-list__btn--is-above {
  &::before {
    border-left: none;
    border-top: none;
    bottom: -6px;   
  }
}
.c-toolbox-list__btn--is-under {
  
  &::before {
    border-right: none;
    border-bottom: none;
    top: -6px; 
  }  
}