html {  
  font-size: 1em;
  -webkit-text-size-adjust: 1em; 
  -ms-text-size-adjust: 1em; 
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Roboto, sans-serif;
  color: $body-text-color;
  word-wrap: normal;
}

@media screen and (min-width: $media-width-L) {

  html {  
    font-size: 1.1em;
    -webkit-text-size-adjust: 1.1em; 
    -ms-text-size-adjust: 1.1em; 
  }

}
