.is-active {
  color: green;
}

.is-pos-relative {
  position: relative;
}


.is-blurred {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  opacity: .8;
}