h1, h2, h3 {
  color: $head-text-color;
  font-family: Exo, sans-serif; 
  font-weight: 300;
  line-height: 1.1;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
}

h2 {
  font-size: 2em; 
}

h3 {
  font-size: 1.5em;
}

a {
  color: $first-color;
  border-bottom: 1px dotted lighten($first-color, 20%);
  text-decoration: none;

  &:hover {
    border-bottom-style: solid;
  }
}
